body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: 'Century Gothic', sans-serif;
	font-size: 18px;
	color: #5B5B5B;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Century Gothic', sans-serif;
	font-weight: 200;
	color: #222222;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	color: #5E5E5E;
}

a:hover {
}

#wrapper {
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 600px;
	background: url(../images/img01.jpg) repeat;
}

#header {
	overflow: hidden;
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

#logo h1 {
	line-height: 120px;
	letter-spacing: -2px;
	font-size: 3em;
}

#logo h1 a {
	color: #12212F;
	text-transform: uppercase;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Century Gothic", Times, serif;
	font-style: italic;
	color: #8E8E8E;
}

#logo p a {
	color: #8E8E8E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #12212F;
}

/* Menu */

#menu {
	float: right;
	width: 500px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu .navbar {
	float: right;
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0px 0px 0px 0px;
}

#menu a {
	margin-right: 1px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Century Gothic', sans-serif;
	font-size: 14px;
	font-weight: 300;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: underline;
	color: #b0b0b0;
}

#menu .current_page_item a {
	background: #132434;
	border-radius: 5px;
}

nav ul ul {
	display: none;
	color: #fff;
}

nav ul li:hover ul {
	display: block;
	margin-top: 7px;
	margin-left: -40px;
	width: 50px;
	position: absolute;
	z-index: 2;
}

nav ul li:hover ul li {
	display: block;
	border: white 0.5px solid;
	background: #12212F;
	text-align: center;
	width: 120px;
}
nav ul li ul li a {
	padding: 10px 20px;
	color: #fff;
	animation-delay: 0.5s;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0px;
	background: #FFFFFF;
}

.entry {
	margin: 0 0px;
	padding: 7px 0px 0px 0px;
	text-align: justify;
}

/* Content */

#content {
	float: left;
	width: 660px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
	margin-bottom: 40px;
}

.post .title {
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	text-decoration: none;
	color: #222222;
}

.more {
	display: block;
	float: left;
	width: 111px;
	padding: 5px 5px;
	margin-right: 10px;
	background: #132434;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.more:hover {
	background: #0A131C;
}

.comments {
	display: block;
	float: left;
	width: 111px;
	padding: 5px 5px;
	background: #132434;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.comments:hover {
	background: #0A131C;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 270px;
	margin: 0px;
	padding: 30px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 40px;
	border-bottom: 1px solid #E7EBED;
	margin: 0px 0px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
	background: url(../images/img04.jpg) no-repeat left 50%;
}

#sidebar h2 {
	height: 38px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #222222;
	border-bottom: 3px solid #E9EAEE;	
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: black;
}

#footer-content-wrapper {
	background: #F4F3EE url(../images/img05.jpg) repeat;
}

#footer-content {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 50px 0px;
	color: #FFFFFF;
}

#footer-content h2 {
	color: #FFFFFF;
}

#footer-bg {
	overflow: hidden;
	padding: 30px 0px;
	background: #E8E8E8;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	font-size: 26px;
	color: #FFFFFF;
}

#footer-content #fbox1 {
	float: left;
	width: 300px;
	margin-right: 50px;
}

#footer-content #fbox2 {
	float: left;
	width: 300px;
}

#footer-content #fbox3 {
	float: right;
	width: 300px;
}

#column1 {
	float: left;
	width: 290px;
	margin-right: 30px;
}

#column2 {
	float: left;
	width: 280px;
}

#column3 {
	float: right;
	width: 260px;
}

/* Footer */

#footer {
	height: 66px;
	margin: 0 auto;
	padding: 50px 0 15px 0;
	font-family: 'Century Gothic', sans-serif;
	background: #D6D6D6 url(../images/img01.jpg) repeat;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #2A2A2A;
}

#banner {
	margin: 0px auto;
	width: 1000px;
	height: 440px;
	background: url(../images/img03.png) no-repeat left bottom;
}

#banner .content {
}

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 a {
	color: #7F7F7F;
}

ul.style1 {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #162738;
	line-height: 160%;
}

ul.style1 a {
	display: block;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	color: #b9b9b9;
}

ul.style1 a:hover {
	color: #fff;
}

ul.style1 .first {
	border-top: none;
	padding-top: 0px;
}

#featured-content {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 5px solid #E9EAEE;	
}

#featured-content h2 {
	padding: 0px 0px 20px 0px;
	font-size: 30px;
}

#featured-content #column1 {
	float: left;
	width: 300px;
	margin-right: 50px;
}

#featured-content #column2 {
	float: left;
	width: 300px;
}

#featured-content #column3 {
	float: right;
	width: 300px;
}

.bg-img1{
	background: url(../images/img06.jpg);
	width: 300px;
	height: 150px;
	margin-bottom: 15px;
}

.bg-img2{
	background: url(../images/img07.jpg);
	width: 300px;
	height: 150px;
	margin-bottom: 15px;
}

.bg-img3{
	background: url(../images/img08.jpg);
	width: 300px;
	height: 150px;
	margin-bottom: 15px;
}

.bg-img4{
	background: url(../images/img08.jpg);
	width: 300px;
	height: 150px;
	margin-bottom: 15px;
}

.bg-img5{
	background: url(../images/img09.jpg);
	width: 300px;
	height: 150px;
	margin-bottom: 15px;
}

.bg-img6{
	background: url(../images/img10.jpg);
	width: 300px;
	height: 150px;
	margin-bottom: 15px;
}

.bg-img7{
	background: url(../images/img11.jpg);
	width: 300px;
	height: 150px;
	margin-bottom: 15px;
}

.bg-img8{
	background: url(../images/img12.jpg);
	width: 300px;
	height: 150px;
	margin-bottom: 15px;
}

.shadow{
	background-color: rgba(0,0,0,0); 
	transition: all 0.5s;
	width: 300px;
	height: 100px;
	color: rgba(0,0,0,0);
	text-align: center;
	padding-top: 50px;  
}

.shadow p{
	margin-top: 10px;
}

.shadow:hover{
	background-color: rgba(21,41,59,0.5); 
	color: rgba(255,255,255,1);
}

.button a {
	display: block;
	float: left;
	width: 111px;
	padding: 5px 5px;
	margin-right: 10px;
	background: #132434;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	background: #081017;
}
